<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notes</title>
    <script src="./libs/vue.js"></script>
    <script src="./libs/axios.js"></script>
    <!-- https://bulma.io/documentation/overview/start/ -->
    <link rel="stylesheet" href="./libs/bulma.css" />
  </head>
  <body>
    <div id="app" style="padding: 15px">
      <textarea
        class="textarea block"
        v-model="inputContent"
        cols="20"
        rows="5"
        style="resize: none"
      ></textarea>
      <button class="button block is-primary" @click="addContent">提交</button>
      <div class="block">
        <button class="button" @click="updateIndex">随机一条</button>
        <button class="button" @click="toggleView">切换视图</button>
      </div>
      <div v-if="view === 'content'" class="card">
        <div class="card-content">
          <div class="content" style="white-space: pre-wrap">{{ contentList[currContentIndex]?.content }}</div>
        </div>
        <footer class="card-footer">
          <a @click="delContent(contentList[currContentIndex]?.id)" class="card-footer-item">删除</a>
        </footer>
      </div>
      <div v-if="view === 'list'">
        <ul>
          <li v-for="item in contentList" style="display: flex; align-items: center; margin-top: 10px;">
            <button class="button is-small" style="margin-right: 5px;" @click="delContent(item.id)">
              删除
            </button>
            <p style="width: 80%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">{{item.content}}</p>
          </li>
        </ul>
      </div>
    </div>
    <script src="./main.js"></script>
  </body>
</html>
